* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Calibri;
    /*border: 1px solid red;*/
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-justify-end {
    display: flex;
    justify-content: end;
    align-items: center;
}